// Colors
$white: #f7f7f7
$grey: #9E9E9E
$black: #212121
$red: #f44336
$green: #4CAF50
$blue: #2196F3
$indigo: #3F51B5
$orange: #FF5722
// Font
$font: 'Lato'

.modal
    display: block
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 99999
    visibility: visible
    opacity: 1
    transition: opacity linear 300ms
    .modal-dialog
        position: fixed
        width: 100%
        height: 100%
        max-height: 100%
        background: rgba(41,41,41,.8)
        overflow: scroll
        padding: 10% calc(50% - 300px)
        opacity: 1
        transition: linear 300ms
        .modal-content
            width: 600px
            background: $white
            border-radius: 4px
            overflow: hidden
            opacity: 1
            transition: ease-in-out 300ms
            .modal-header
                position: relative
                text-align: center
                padding: 5px 10px
                .modal-close
                    position: absolute
                    top: 5px
                    right: 5px
                    color: $black
                    border: 0
                    background: transparent
            .modal-body
                padding: 5px 10px
                box-shadow: inset 0 2px 2px rgba(41,41,41,.2), inset 0 -2px 2px rgba(41,41,41,.2)
            .modal-footer
                padding: 5px 10px
                text-align: right
.modal.fade
    visibility: hidden
    opacity: 0
    transtion: opacity linear 300ms, visibility linear 0ms 300ms
    .modal-dialog
        opacity: 0
        transition: linear 300ms
        .modal-content
            transform: translateY(-300px)
            opacity: 0
            transition: ease-in-out 300ms