doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="robots", content="noindex, nofollow")
        title Главная
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto")
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet", href="css/board.css")
        script(type="text/javascript", src="js/board.js", defer)
    body
        header.page-header
            .brand
                a.brand-link(href="") Yatoorist.ru
            .header-control
                button.menu-collapse(onclick="menuToggle('#mainMenu')")
                    i.material-icons menu
                #mainMenu.collapse-header
                    button.btn.btn-default(data-toggle="modal", data-target="#signin") Войти
                    a.btn.btn-default(href="") Регистрация
                    a.btn.btn-default(href="") Мой кабинет
                    a.btn.btn-default(href="") Выход
        .page
            .row
                .col.x-10.offset-1
                    .container
                        .title
                            h2(style="font-weight: 400; color: #666; text-align: left") Гостиница "Гаухар", расположенная от озера
                            .row
                                .col.x-6 Комнаты: 2-х местные, 3-х местные, 4-х местные
                                .col.x-2 16.03.2016
                                .col.x-2 3600 Проживающих
                        .content
                            .row
                                .col.x-9
                                    .carousel
                                        .carousel-content
                                            .item
                                                img(src="img/card.jpg", data-toggle="lightbox", data-target="#signleLightbox")
                                            .item
                                                img(src="img/card.jpg" style="filter: invert(100%)", data-toggle="lightbox", data-target="#signleLightbox")
                                            .item
                                                img(src="img/card.jpg", data-toggle="lightbox", data-target="#signleLightbox")
                                            .item
                                                img(src="img/card.jpg" style="filter: grayscale(100%)", data-toggle="lightbox", data-target="#signleLightbox")
                                        button.carousel-left
                                            i.material-icons &#xE314;
                                        button.carousel-right
                                            i.material-icons &#xE315;
                    .container
                        .content
                            .panel
                                .row
                                    .col.x-6
                                        strong Телефон:
                                        | +7 (999) 109-61-24
                                    .col.x-6
                                        strong Имя: 
                                        | Владислав
                                    .col.x-6
                                        strong Адрес:
                                        | ул. Благородная 36
                    .container
                        .content
                            article
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    .container
                        .content
                            span.chip.chip-indigo Баня
                            span.chip.chip-indigo Wi-Fi
                            span.chip.chip-indigo Стоянка
                            span.chip.chip-indigo Бассейн
                            span.chip.chip-indigo Манган
                            span.chip.chip-indigo Детская площадка
                            span.chip.chip-indigo Можно с питомцами
                            span.chip.chip-indigo Можно с детьми
                    .container
                        .content
                            .panel.panel-tab
                                .panel-header
                                    .tab 2-х Местный Номер
                                    .tab 3-х Местный Номер
                                    .tab 4-х Местный Номер
                                .panel-content
                                    - for(k = 0; k < 3; k++)
                                        .tab-container
                                            .row
                                                .col.x-2
                                                    img.img-content(src="img/card.jpg")
                                                .col.x-2
                                                    img.img-content(src="img/card.jpg")
                                                .col.x-2
                                                    img.img-content(src="img/card.jpg")
                                                .col.x-2
                                                    img.img-content(src="img/card.jpg")
                                                .col.x-2
                                                    img.img-content(src="img/card.jpg")
                                                .col.x-2
                                                    img.img-content(src="img/card.jpg")
                                            .row
                                                - for(i = 0; i < 3; i++)
                                                    .col.x-4
                                                        .calendar.calendar-default
                                                            table.calendar-content
                                                                thead.calendar-heading
                                                                    tr
                                                                        th(colspan="7") January 2017
                                                                tbody.calendar-headers
                                                                    tr
                                                                        each day in ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
                                                                            td= day
                                                                tbody.calendar-body
                                                                    tr
                                                                        td.past 26
                                                                        td.past 27
                                                                        td.past 28
                                                                        td.past 29
                                                                        td.past 30
                                                                        td.past 31
                                                                        td.booked 1
                                                                    tr
                                                                        td.booked 2
                                                                        td.booked 3
                                                                        td.booked 4
                                                                        td.booked 5
                                                                        td.booked 6
                                                                        td.booked 7
                                                                        td.booked 8
                                                                    tr
                                                                        td 9
                                                                        td 10
                                                                        td 11
                                                                        td 12
                                                                        td 13
                                                                        td.booked 14
                                                                        td 15
                                                                    tr
                                                                        td 16
                                                                        td 17
                                                                        td.booked 18
                                                                        td.booked 19
                                                                        td.booked 20
                                                                        td 21
                                                                        td 22
                                                                    tr
                                                                        td 23
                                                                        td.booked 24
                                                                        td 25
                                                                        td.booked 26
                                                                        td.booked 27
                                                                        td 28
                                                                        td 29
                                                                    tr
                                                                        td 30
                                                                        td 31
                                                                        td.past 1
                                                                        td.past 2
                                                                        td.past 3
                                                                        td.past 4
                                                                        td.past 5
                    .container
                    .container
        footer.page-footer
            .row
                .col.x-4
                    a.brand(href="")
                        h1 Yatoorist
                .col.x-4
                    ul.social-links
                        each link in ['social fb', 'social vk', 'social tw', 'social gp', 'social ok', 'social rss']
                            li
                                a(class=link href="")
                .col.x-4
                    ul.useful-links
                        each link in ['Правила пользования', 'Правила конфиденциальности', 'Отказ от ответственности', 'Обратная связь']
                            li
                                a(href="")= link
        #signin.modal.flag.fade
            .modal-dialog
                .modal-content
                    .modal-header
                        h3 Вход
                        button.modal-close
                            i.material-icons close
                    .modal-body
                        form
                            .form-group
                                label.form-input(for='account')
                                    input.form-control#account(type="text" label="Учетная запись")
                            .form-group
                                label.form-input(for='password')
                                    input.form-control#password(type="password" label="Пароль")
                                label.form-check.out(for='memberme', style="text-align: left")
                                        input.form-control(type="checkbox", id='memberme', label='Запомнить меня')
                            .form-group
                                button.btn.btn-indigo(type="submit") Войти
        #signleLightbox.lightbox.fade
            button.lightbox-close &times;
            .lightbox-viewport
                .lightbox-content
                    .image
                        img(src="img/card.jpg")
                    .image
                        img(src="img/card.jpg" style="filter: grayscale(100%)")
                    .image
                        img(src="img/card.jpg")
                    .image
                        img(src="img/card.jpg" style="filter: blur(2px)")
                    .image
                        img(src="img/card.jpg")
                    .image
                        img(src="img/card.jpg" style="filter: grayscale(100%)")
                    .image
                        img(src="img/card.jpg")
                    .image
                        img(src="img/card.jpg" style="filter: blur(2px)")
                button.lightbox-left
                    i.material-icons &#xE314;
                button.lightbox-right
                    i.material-icons &#xE315;
            .lightbox-list
                ul
                    li
                        img(src="img/card.jpg")
                    li
                        img(src="img/card.jpg" style="filter: grayscale(100%)")
                    li
                        img(src="img/card.jpg")
                    li
                        img(src="img/card.jpg" style="filter: blur(2px)")
                    li
                        img(src="img/card.jpg")
                    li
                        img(src="img/card.jpg" style="filter: grayscale(100%)")
                    li
                        img(src="img/card.jpg")
                    li
                        img(src="img/card.jpg" style="filter: blur(2px)")